/* Parámetros tema claro */
:root {
    /* Colores */
    --bg01: #f2f2f2; /* Fondo principal */
    --tx01: #3c3c3c; /* Texto principal */
    --bg02: #e5e5e5; /* Bordes */
    --bg05: transparent; /* No tocar */
    --bg04: #f0f0f0; /* Fondo oscuro */
    --bg03: #fafafa; /* Fondo claro */
    --bg07: #e5e5e5; /* Barra editor */
    --bg08: #cccccc; /* Barra */
    --tx07: #cc3300; /* Enlaces principales */
    --tx08: #f33d00; /* Enlaces principales :hover */
    --tx04: #cc3300; /* Enlaces secundarios */
    --tx05: #f33d00; /* Enlaces secundarios :hover */
    --rs01: #5590CC; /* Resalto usuario */
    --rs1h: #73a4d5; /* Resalto usuario :hover */
    --rs02: #cc3300; /* Resalto autor */
    --rs2h: #f33d00; /* Resalto autor :hover */
    --c200: #5590CC; /* Cabecera fondo */
    --c400: #ffffff; /* Notificación fondo */
    --c40t: #5590CC; /* Notificación texto */
    --c401: #cc3300; /* Resalto */
    --co04: #ffffff; /* Cabecera texto :hover */
    --co03: #ffffff; /* No modificar */
    --co01: #ffffff; /* Blanco / negro */
    --co02: #000000; /* Negro / blanco */
    --rgb7: rgba(0, 0, 0, .7);
    --rgb7b: rgba(255, 255, 255, .85); /* Cabecera texto */
    --rgb5: rgba(0, 0, 0, .5); /* Texto secundario, varios */
    --rgb2: rgba(0, 0, 0, .2);
    --rgb2i: rgba(0, 0, 0, .2); /* No modificar */
    --rgb1: rgba(0, 0, 0, .12);

    /* Sombras */
    --bsh2: 0px 3px 1px -2px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
    --bsh4: 0px 2px 4px -1px rgba(0, 0, 0, 0.08), 0px 4px 5px 0px rgba(0, 0, 0, 0.06), 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
    --bsh8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

    /* Otros */
    /* Tamaño texto titulos */
    --sz01: 14px;

    /* Resaltado botones */
    --bns1: brightness(90%);
    --bns2: brightness(85%);

    /* Compatibilidad */
    --invert: invert(0%);
}

/* Flecha input */
select {
    background: var(--co01) url(https://i.imgur.com/PQZTmbv.png) right no-repeat;
}

/* Compatibilidad  */
font[color="#f1f1f1"] {
    color: var(--bg03);
}

/* Fin parámetros tema claro */
